<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Protocol.Properties.Settings.connString" connectionString="Data Source=AVINDOMC\SQLSERVERR2;Initial Catalog=GramV3-Dev;Persist Security Info=True;User ID=GramV3;Password=8093570"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
